.body {
    margin: 8 px;
    display: block;
    padding-top: 50 px;
    padding-right: 30 px;
    padding-bottom: 50 px;
    padding-left: 80 px;
    background-color: black;
}

.Heading {
    color: red;
}

.center {
    text-align: center;
    border:3 px
}

.funParagraph {
    color: green;
}

.colorChange {
    color:orangered;
}
.colorChange2 {
    color: yellow;
}

.colorChange3 {
    color: blue;
}

p {
    text-align: center;
}
